{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <h1>ADMIN DASHBOARD</h1>


    <ul>
        <li><a href="{{ url_for('admin.manage_admin') }}">Quản lý admin</a></li>
        <li><a href="{{ url_for('admin.manage_classes') }}">Quản lý lớp</a></li>
        <li><a href="{{ url_for('admin.manage_users') }}">Quản lý người dùng</a></li>
        <li><a href="{{ url_for('admin.manage_trainers') }}">Quản lý trainer</a></li>
        <li><a href="{{ url_for('admin.notifications') }}">Thông báo</a></li>
        <li><a href="{{ url_for('admin.send_message') }}">Gửi thư</a></li>
        <li><a href="{{ url_for('admin.stats') }}">Thống kê</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Đăng xuất</a></li>

    </ul>



{% endblock %}


