<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>ADMIN SITE</h1>


    <ul>
        <li><a href="{{ url_for('admin.manage_admin') }}">Quản lý admin</a></li>
        <li><a href="{{ url_for('admin.manage_classes') }}">Quản lý lớp</a></li>
        <li><a href="{{ url_for('admin.manage_users') }}">Quản lý người dùng</a></li>
        <li><a href="{{ url_for('admin.manage_trainers') }}">Quản lý trainer</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Đăng xuất</a></li>
        <li><a href="#">Quản lý bài tập</a></li>
        <li><a href="#">Lịch huấn luyện</a></li>
    </ul>



</body>
</ht
