{% extends "base.html" %}
{% block title %}User Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard!</h1>

    <h2>Thông tin tài khoản</h2>
    <ul>
        <li>Tên đăng nhập: {{ current_user.username }}</li>
        <li>Email: {{ current_user.email }}</li>
        <li>Role: {{ current_user.role }}</li>
    </ul>

    <h2>Tùy chọn</h2>
    <ul class = "menu-links">
        <li><a href="{{ url_for('user.regist_class') }}">Đăng ký lớp</a></li>
        <li><a href="{{ url_for('user.user_class') }}">Lớp học của tôi</a></li>
        <li><a href="{{ url_for('user.inbox') }}">Inbox</a></li>
    </ul>

{% endblock %}
